<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RRFood</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Marmelad&family=PT+Serif&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" media="screen and (max-width:650px)"  href="../public/phone.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <img id="logo" src="../public/lord-krishna-eating-butter.png" alt="">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="/">Our Partners</a></li>
                <li><a href="/Contacts.pug">Contact Us</a></li>
            </ul>
        </div>
        
        <section id="contactus">
            <div>
                <h2>Expect a call back!</h2>
                <form action="/Contacts.pug " method="post">
                    <input type="text" placeholder="Name" name="Name">
                    <input type="text" placeholder="Number" name="Number">
                    <input type="text" placeholder="Address" name="Address">
                    <input type="text" placeholder="Note" name="Note">
                    <button>Submit</button>
                </form>
            </div>
        </section>
        <p class="copyright">
            copyright &COPY; RRFood.com
        </p>
    </div>

</body>

</html>